# WordPress GraphQL Configuration
NEXT_PUBLIC_WP_GRAPHQL_URL=https://www.cms.groupashop.com/graphql
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_WP_API_URL=https://www.cms.groupashop.com/wp-json/wp/v2

# Optional: If your WordPress has authentication required
WP_AUTH_USER=
WP_AUTH_PASSWORD=
